.card-full .nk-wg1 { height: 100%; display: flex; flex-direction: column; }

.nk-wg1-block { display: flex; padding: 1.25rem; align-items: flex-start; flex-direction: column; }

.nk-wg1-img { width: 84px; margin-right: 0; margin-bottom: 1.5rem; flex-shrink: 0; text-align: center; padding: .125rem; }

.nk-wg1-text { color: #8094ae; }

.nk-wg1-action { margin-top: auto; border-top: 1px solid #e5e9f2; }

.nk-wg1-action .link { position: relative; display: block; line-height: 1.3; padding: 1.25rem; padding-right: 2.5rem; white-space: inherit; }

.nk-wg1-action .link:hover { background-color: #f5f6fa; }

.nk-wg1-action .link .icon { position: absolute; right: 1.25rem; margin-right: -.25rem; margin-top: -1px; }

.nk-wg1-action .link-inline { display: inline-block; padding-right: .25rem; }

.nk-wg1-action .link-inline .icon { position: static; padding-left: .25rem; margin-right: 0; }

@media (min-width: 576px) { .nk-wg1-block { padding: 1.5rem; }
  .nk-wg1-action .link { padding: 1.5rem; padding-right: 2.75rem; }
  .nk-wg1-action .link-inline { padding-right: .25rem; } }

@media (min-width: 1200px) { .nk-wg1-img { margin-right: 1.5rem; margin-bottom: 0; }
  .nk-wg1-block { flex-direction: row; align-items: center; padding-top: 2rem; padding-bottom: 2rem; } }

.nk-help { display: flex; flex-wrap: wrap; align-items: center; }

.nk-help-img { width: 120px; margin-right: 0; margin-bottom: 1.5rem; flex-shrink: 0; text-align: center; padding: .125rem; }

.text-center .nk-help-img { margin-left: auto; margin-right: auto; }

.nk-help-action { flex-shrink: 0; margin-top: 1.5rem; width: 100%; margin-bottom: 0.125rem; }

@media (min-width: 768px) { .nk-help { flex-wrap: nowrap; }
  .nk-help-img { margin-right: 1.5rem; margin-bottom: 0; }
  .card-inner-lg .nk-help-img { margin-left: -.5rem; }
  .nk-help-text { flex-grow: 1; padding: .5rem 1rem .5rem .5rem; }
  .nk-help-action { width: auto; margin-top: 0; padding-left: 1.5rem; } }

.card-full .nk-help-plain { height: 100%; display: flex; flex-direction: column; }

.nk-help-plain .nk-help-img { margin-bottom: 1.25rem; }

.nk-help-plain .nk-help-text { padding: 0; }

.nk-help-plain .nk-help-text:not(:last-child) { margin-bottom: 1.5rem; }

.nk-help-plain .nk-help-action { margin-top: auto; padding: 0; }

.nk-cta { display: flex; align-items: center; }

.nk-cta-block { display: flex; align-items: center; flex-grow: 1; }

.nk-cta-img { flex-shrink: 0; }

.nk-cta-img .icon { width: 2.25rem; height: 2.25rem; font-size: 1rem; }

.nk-cta-text { flex-grow: 1; line-height: 1.5; font-family: Nunito, sans-serif; font-weight: 700; font-size: .9375rem; padding: 0.25rem 1.5rem 0.25rem 1.25rem; }

.nk-cta-action { flex-shrink: 0; margin-left: auto; }

@media (max-width: 459px) { .nk-cta { flex-wrap: wrap; }
  .nk-cta-text { padding-right: 0; font-size: .875rem; }
  .nk-cta-action { flex-shrink: 1; width: 100%; margin: 1rem 0 0.5rem 3.5rem; } }

.nk-cta-plain .nk-cta-block { display: block; }

.nk-cta-plain .nk-cta-img { margin-bottom: 1rem; }

.nk-cta-plain .nk-cta-text { font-weight: 400; padding: 0.25rem 0; }

.nk-cta-plain .nk-cta-action { margin-top: 1.25em; }

.nk-kyc-app-icon { margin-bottom: 2rem; }

.nk-kyc-app-icon .icon { display: inline-flex; align-items: center; justify-content: center; height: 80px; width: 80px; font-size: 36px; border-radius: 50%; color: #8094ae; border: 2px solid #dbdfea; }

.nk-kyc-app-text:not(:last-child) { margin-bottom: 2rem; }

.nk-kycfm-head { display: flex; align-items: center; }

.nk-kycfm-head, .nk-kycfm-content, .nk-kycfm-footer { padding: 1.5rem; }

.nk-kycfm-head:not(:last-child), .nk-kycfm-content:not(:last-child), .nk-kycfm-footer:not(:last-child) { border-bottom: 1px solid #e5e9f2; }

.nk-kycfm-count { display: inline-flex; align-items: center; justify-content: center; height: 44px; width: 44px; font-size: 16px; border-radius: 50%; color: #526484; border: 2px solid #dbdfea; margin-right: 1rem; flex-shrink: 0; }

.nk-kycfm-title .title { margin: .25rem 0; }

.nk-kycfm-content .title { margin-bottom: .75rem; }

.nk-kycfm-note { color: #8094ae; display: flex; }

.nk-kycfm-note:not(:last-child) { margin-bottom: 1rem; }

.nk-kycfm-note .icon { margin-right: 0.5rem; font-size: 0.875rem; line-height: 1.65; }

.nk-kycfm-label { display: flex; align-items: center; border: 2px solid #e5e9f2; border-radius: 4px; padding: .5rem 2.875rem .5rem 1rem; font-size: 13px; line-height: 1.3; letter-spacing: -0.01rem; font-weight: 500; cursor: pointer; transition: all .3s; margin-bottom: 0; }

.nk-kycfm-label::after { position: absolute; right: 1.375rem; top: 50%; height: 20px; width: 20px; line-height: 20px; font-size: 12px; border-radius: 50%; transform: translateY(-50%); font-family: "Nioicon"; content: ""; color: #fff; background: #6576ff; display: flex; align-items: center; justify-content: center; opacity: 0; transition: opacity .3s; }

.nk-kycfm-label-icon { position: relative; width: 34px; display: flex; align-items: center; flex-shrink: 0; margin-right: 12px; }

.nk-kycfm-label-icon .label-icon { transition: all .3s; color: #8094ae; width: 100%; height: 28px; }

.nk-kycfm-control { position: absolute; height: 1px; width: 1px; opacity: 0; }

.nk-kycfm-control-list { display: flex; flex-wrap: wrap; }

.nk-kycfm-control-list + * { margin-top: 1.25rem; }

.nk-kycfm-control-item { position: relative; flex-grow: 1; }

.nk-kycfm-control:checked ~ .nk-kycfm-label { border-color: #6576ff; }

.nk-kycfm-control:checked ~ .nk-kycfm-label:after { opacity: 1; }

.nk-kycfm-control:checked ~ .nk-kycfm-label .label-icon { color: #6576ff; }

.nk-kycfm-upload:not(:first-child) { margin-top: 1.5rem; }

@media (min-width: 576px) { .nk-kycfm-head, .nk-kycfm-content, .nk-kycfm-footer { padding: 1.5rem 2.25rem; }
  .nk-kycfm-content { padding-bottom: 1.75rem; }
  .nk-kycfm-footer { padding: 2.25rem; } }

.pricing { position: relative; height: 100%; }

.pricing-badge { position: absolute; right: .5rem; top: .5rem; }

.pricing-head { text-align: center; padding: 1.75rem 1.5rem; border-bottom: 1px solid #e5e9f2; }

.pricing-title .title { margin-bottom: 0.25rem; }

.pricing-title:not(:last-child) { padding-bottom: 1.25rem; }

.pricing-body { padding: 1.75rem 1.75rem 2rem; }

.pricing-features li { display: flex; padding: .25rem 0; }

.pricing-action { margin-top: 1.5rem; text-align: center; }

.pricing-media { padding: 0.25rem 0; margin-bottom: 1.5rem; }

.pricing-media img { max-width: 90px; }

.pricing-amount { font-size: 0.875rem; color: #8094ae; }

.pricing-amount .amount { font-size: 1.5rem; font-weight: 700; color: #526484; }
